<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.skg.simpleprojectmenager">

    <application
        android:name="pl.skg.simplyprojectmenager.App"
        android:allowBackup="true"
        android:icon="@mipmap/file_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme"> -->
        <uses-permission android:name="android.permission.INTERNET" />

        <activity
            android:name="pl.skg.simplyprojectmenager.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="pl.skg.simplyprojectmenager.NewUserActivity_POLIGON" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <!-- <activity android:name="pl.skg.simplyprojectmenager.UserStartActivityivity" /> -->
        <activity
            android:name="pl.skg.simplyprojectmenager.admin.AdminStartActivity"
            android:label="@string/title_activity_admin_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.admin.ProcesListActivity"
            android:label="Lista Procesów"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.model.NewStepFormatAdapter"
            android:label="New Step"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.user.list.UserListActivity"
            android:label="@string/title_activity_list_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.admin.NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.admin.UserListActivity"
            android:label="@string/title_activity_list_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.user.UserStartActivity"
            android:label="user mode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="pl.skg.simplyprojectmenager.newprocess.NewProcess" />
        <activity
            android:name="pl.skg.simplyprojectmenager.admin.ProcessActivity"
            android:label="new process form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.newstep.StepActivity"
            android:label="@string/title_activity_step_swipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.skg.simplyprojectmenager.admin.UserActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>